 {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(form.description) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.price) }}
                {{ form_widget(form.price, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(form.price) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.stock) }}
                {{ form_widget(form.stock, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(form.stock) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.category) }}
                {{ form_widget(form.category, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(form.category) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.imageFile) }}
                {{ form_widget(form.imageFile, { 'attr': { 'class': 'form-control-file' } }) }}
                {{ form_errors(form.imageFile) }}
            </div>

            <button class="btn btn-primary mt-3">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}